#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Command line
local.properties
build.xml
proguard-project.txt

/library/build/outputs/aar/library-release.aar
/library/build/outputs/aar/library-debug.aar
/library/build/intermediates/res/resources-debug-androidTest.ap_
/library/build/intermediates/bundles/release/classes.jar
/library/build/intermediates/bundles/debug/classes.jar

/library/build/intermediates/incremental/mergeReleaseResources/merger.xml
/library/build/intermediates/incremental/mergeDebugResources/merger.xml
/library/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
/library/build/intermediates/incremental-safeguard/release/tag.txt
/library/build/intermediates/incremental-safeguard/debug/tag.txt

/library/build/intermediates/incremental-safeguard/androidTest/debug/tag.txt
/library/build/intermediates/incremental/packageReleaseResources/compile-file-map.properties
/library/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
/library/build/intermediates/incremental/mergeReleaseResources/compile-file-map.properties
/library/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
/library/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
/library/build/intermediates/blame/res/debug/single/drawable-mdpi-v4.json
/library/build/intermediates/typedefs.txt
/library/build/intermediates/manifests/aapt/release/AndroidManifest.xml
/library/build/intermediates/manifests/aapt/debug/AndroidManifest.xml
/library/build/intermediates/manifest/androidTest/debug/AndroidManifest.xml
/library/build/intermediates/bundles/default/res/values/values.xml
/library/build/intermediates/bundles/default/res/drawable/vpi__tab_indicator.xml
/library/build/intermediates/bundles/default/res/drawable-xhdpi-v4/vpi__tab_unselected_pressed_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-xhdpi-v4/vpi__tab_unselected_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-xhdpi-v4/vpi__tab_unselected_focused_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-xhdpi-v4/vpi__tab_selected_pressed_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-xhdpi-v4/vpi__tab_selected_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-xhdpi-v4/vpi__tab_selected_focused_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-mdpi-v4/vpi__tab_unselected_pressed_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-mdpi-v4/vpi__tab_unselected_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-mdpi-v4/vpi__tab_unselected_focused_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-mdpi-v4/vpi__tab_selected_pressed_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-mdpi-v4/vpi__tab_selected_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-mdpi-v4/vpi__tab_selected_focused_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-hdpi-v4/vpi__tab_unselected_pressed_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-hdpi-v4/vpi__tab_unselected_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-hdpi-v4/vpi__tab_unselected_focused_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-hdpi-v4/vpi__tab_selected_pressed_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-hdpi-v4/vpi__tab_selected_holo.9.png
/library/build/intermediates/bundles/default/res/drawable-hdpi-v4/vpi__tab_selected_focused_holo.9.png
/library/build/intermediates/bundles/default/res/color/vpi__light_theme.xml
/library/build/intermediates/bundles/default/res/color/vpi__dark_theme.xml
/library/build/intermediates/bundles/default/R.txt
/library/build/intermediates/bundles/default/classes.jar
/library/build/intermediates/bundles/default/AndroidManifest.xml
/library/build/intermediates/bundles/debug/AndroidManifest.xml
/library/build/generated/source/r/release/android/support/v4/R.java
/library/build/generated/source/r/release/android/support/mediacompat/R.java
/library/build/generated/source/r/release/android/support/fragment/R.java
/library/build/generated/source/r/release/android/support/coreutils/R.java
/library/build/generated/source/r/release/android/support/coreui/R.java
/library/build/generated/source/r/release/android/support/compat/R.java
/library/build/generated/source/r/debug/android/support/v4/R.java
/library/build/generated/source/r/debug/android/support/mediacompat/R.java
/library/build/generated/source/r/debug/android/support/fragment/R.java
/library/build/generated/source/r/debug/android/support/coreutils/R.java
/library/build/generated/source/r/debug/android/support/coreui/R.java
/library/build/generated/source/r/debug/android/support/compat/R.java
/library/build/generated/source/r/androidTest/debug/com/viewpagerindicator/R.java
/library/build/generated/source/r/androidTest/debug/android/support/v4/R.java
/library/build/generated/source/r/androidTest/debug/android/support/mediacompat/R.java
/library/build/generated/source/r/androidTest/debug/android/support/fragment/R.java
/library/build/generated/source/r/androidTest/debug/android/support/coreutils/R.java
/library/build/generated/source/r/androidTest/debug/android/support/coreui/R.java
/library/build/generated/source/r/androidTest/debug/android/support/compat/R.java
