#Android generated
bin
gen

#Eclipse
.project
.classpath
.settings

#IntelliJ IDEA
.idea
*.iml
classes

#Maven
target
release.properties
pom.xml.*

#Command line
local.properties
build.xml
proguard-project.txt

/library/build/outputs/aar/library-release.aar
/library/build/outputs/aar/library-debug.aar
/library/build/intermediates/res/resources-debug-androidTest.ap_
/library/build/intermediates/bundles/release/classes.jar
/library/build/intermediates/bundles/debug/classes.jar

/library/build/intermediates/incremental/mergeReleaseResources/merger.xml
/library/build/intermediates/incremental/mergeDebugResources/merger.xml
/library/build/intermediates/incremental/mergeDebugAndroidTestResources/merger.xml
/library/build/intermediates/incremental-safeguard/release/tag.txt
/library/build/intermediates/incremental-safeguard/debug/tag.txt
